<h3>Equipment</h3>
<ul>
  <li *ngFor="let part of equipment">
    <span *ngIf="equipmentBeingEdited !== part; else elseBlock">
      <span (click)="edit(part)" class="editable-text">{{part}}</span>
      <button (click)="remove(part)">remove</button>
    </span>
    <ng-template #elseBlock>
      <input #updatedName (keyup.enter)="save(updatedName.value, part)" value="{{part}}"/>
      <button (click)="save(updatedName.value, part)">save</button>
    </ng-template>
  </li> 
</ul>
<input #name type="text"/>
<button (click)="add(name.value)">Add</button>